@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
}

body {
    max-width: 768px;
    padding-right: 16px;
    padding-left: 16px;
    margin: auto auto;
    font-family: "Inter", sans-serif;
}

h1 {
    height: 40px;
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
    padding-top: 48px;
    padding-bottom: 32px;
}

p {
    line-height: 28px;
}

h2 {
    margin-top: 48px;
    margin-bottom: 24px;
}

table {
    margin-top: 32px;
    width: 100%;
    text-align: justify;
    border-collapse: collapse;
}

th {
    width: 33.3%;
    padding-bottom: 10px;
}

td {
    padding-top: 15px;
    padding-bottom: 15px;
}

ul {
    margin-top: 20px;
}

aside {
    margin-top: 20px;
    margin-bottom: 20px;
}

address {
    margin-top: 20px;
    margin-bottom: 20px;
}

small {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 28px;
}

footer {
    background-color: #F5F5F5;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
}

footer p{
    margin-bottom: 24px;
}

a {
    color: #6D28D9;
    font-weight: 500;
}

figure {
    text-align: center;
    margin-top:32px;
}

figcaption {
    color: grey;
    margin-top: 12px;
}

ul li{
    line-height: 28px;
}

li::marker {
    color: #6D28D9;
}


